.wrapper {
    width: 300px;
}

.first-p {
    color: aqua;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 30px;
}

.second-p {
    color: crimson;
    font-weight: initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.table {
    border: 5px;
    width: 400px; 
    height: 200px;
}